/*--------------------------------------------------------------
# Illustrations
--------------------------------------------------------------*/
@import 'illustrations/illustrations';

/*--------------------------------------------------------------
# Fonts
--------------------------------------------------------------*/
@import 'base/fonts';

/*--------------------------------------------------------------
# Scroll reveal
--------------------------------------------------------------*/
@import 'base/scroll-reveal';

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/
@import 'base/base';

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
@import 'base/typography';

/*--------------------------------------------------------------
# Containers
--------------------------------------------------------------*/
@import 'elements/containers';

/*--------------------------------------------------------------
# Buttons
--------------------------------------------------------------*/
@import 'elements/buttons';

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
@import 'elements/forms';

/*--------------------------------------------------------------
# Hamburger
--------------------------------------------------------------*/
@import 'elements/hamburger';

/*--------------------------------------------------------------
# Modal
--------------------------------------------------------------*/
@import 'elements/modal';

/*--------------------------------------------------------------
# Split pattern
--------------------------------------------------------------*/
@import 'patterns/split';

/*--------------------------------------------------------------
# Tiles pattern
--------------------------------------------------------------*/
@import 'patterns/tiles';

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
@import 'layout/header';

/*--------------------------------------------------------------
# Site content
--------------------------------------------------------------*/
@import 'layout/main';

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
@import 'layout/footer';

/*--------------------------------------------------------------
# Section
--------------------------------------------------------------*/
@import 'sections/section';

/*--------------------------------------------------------------
# Hero
--------------------------------------------------------------*/
@import 'sections/hero';

/*--------------------------------------------------------------
# Features split
--------------------------------------------------------------*/
@import 'sections/features-split';

/*--------------------------------------------------------------
# Features tiles
--------------------------------------------------------------*/
@import 'sections/features-tiles';

/*--------------------------------------------------------------
# Testimonial
--------------------------------------------------------------*/
@import 'sections/testimonial';

/*--------------------------------------------------------------
# Call to action
--------------------------------------------------------------*/
@import 'sections/cta';

.phone-btn {
	background-color: #1cb68b;
	color: black !important;
	border-radius: 13px;
	padding: 0 6px !important;
}

// cards
.cards {
	display: flex;
	// flex-wrap: wrap;

	.card {
		background: white;
		border-radius: 1rem;
		padding: 3rem;
		margin-left: -1rem;
		box-shadow: 4px 4px 15px 2px rgba(black, 0.75);
		transition: 0.2s;
		display: grid;
		place-items: center;
		&:hover {
			~ .card {
				transform: translateX(4rem);
			}

			transform: translateY(-1rem);
		}
		.partner-img {
			width: 140px;
			height: 130px;
		}
	}
	overflow-x: auto;
}

/* Slideshow */
.slideshow {
	margin: 0 auto;
	overflow: hidden;
	max-width: 500px;

	.slideshowSlider {
		white-space: nowrap;
		transition: ease 1000ms;

		.slide {
			display: inline-block;
			height: 400px;
			width: 100%;
			border-radius: 40px;
		}
	}
}

/* Buttons */
.slideshowDots {
	text-align: center;
}
.slideshowDot {
	display: inline-block;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	cursor: pointer;
	margin: 15px 7px 0px;
	background-color: #c4c4c4;
}

.text-center {
	display: grid;
	place-items: center;
	font-weight: 600;
}

.service-cards {
	display: flex;

	.service-card {
		margin-top: 1rem;
		background: white;
		border-radius: 1rem;
		box-shadow: 4px 4px 15px 2px rgba(black, 0.75);
		display: grid;
		place-items: center;
		width: 40%;
		margin-left: 5%;

		.service-img {
			width: 80px;
			height: 80px;
		}

		h6 {
			color: black;
			font-weight: 400;
		}
	}
}

.flex-row {
	flex-direction: row;
}
.flex-col {
	display: flex;
	flex-direction: column;
}

.mobile-card {
	width: 100% !important;
}

.flex-wrap {
	flex-wrap: wrap;
}

// slideshow

.numbertext {
	float: right;
	font-weight: 600;
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
}

#caption {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
	text-align: center;
	color: #ccc;
	padding: 10px 0;
	height: 150px;
}

.modal-content,
#caption {
	-webkit-animation-name: zoom;
	-webkit-animation-duration: 0.6s;
	animation-name: zoom;
	animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
	from {
		-webkit-transform: scale(0);
	}
	to {
		-webkit-transform: scale(1);
	}
}

@keyframes zoom {
	from {
		transform: scale(0);
	}
	to {
		transform: scale(1);
	}
}

.close {
	position: absolute;
	top: 15px;
	right: 35px;
	color: #f1f1f1;
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s;
}

.close:hover,
.close:focus {
	color: #bbb;
	text-decoration: none;
	cursor: pointer;
}

.mySlides {
	width: 100%;
	margin: 0 auto;
	display: none;
}

.mySlides-service {
	width: 100%;
	margin: 0 auto;
	display: none;
}

.mySlides.one {
	display: block;
}

.mySlides.one-service {
	display: block;
}
.mySlides img {
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
	filter: grayscale(100%);
	cursor: pointer;
}

.mySlides img:hover {
	-webkit-filter: grayscale(0); /* Safari 6.0 - 9.0 */
	filter: grayscale(0);
	transition: 1.2s ease-in-out;
}

.next,
.prev {
	position: absolute;
	font-size: 50px;
	color: white;
	top: 45%;
	cursor: pointer;
}

.next {
	right: 15rem;
}
.prev {
	left: 15rem;
}

.numbertext {
	color: white;
	font-size: 25px;
}

@media only screen and (max-width: 1024px) {
	.mySlides {
		width: 100%;
	}
	.numbertext {
		font-size: 40px;
	}
	.next,
	.prev {
		font-size: 100px;
	}
	.prev {
		left: 0;
	}
	.next {
		right: 0;
	}
}

@media only screen and (max-width: 768px) {
	.mySlides img {
		-webkit-filter: grayscale(0);
		filter: grayscale(0);
		cursor: pointer;
	}
	.numbertext {
		font-size: 20px;
	}
	.next,
	.prev {
		font-size: 40px;
		top: 48%;
	}
	.modal-content {
		width: 100%;
	}
}

.active {
	background-color: #5658dd;
}
.text-left {
	text-align: left;
}

// offerCards

/*==================== GOOGLE FONTS ====================*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Rubik&display=swap');

/*==================== VARIABLES CSS ====================*/
:root {
	/*========== Colors ==========*/
	/* Change favorite color - Blue 210 - Purple 250 - Green 142 - Pink 340*/
	--hue-color: 210;

	/* HSL color mode */
	--first-color: hsl(var(--hue-color), 96%, 54%);
	--first-color-light: hsl(var(--hue-color), 96%, 69%);
	--first-color-alt: hsl(var(--hue-color), 96%, 37%);
	--first-color-lighter: hsl(var(--hue-color), 14%, 96%);
	--title-color: hsl(var(--hue-color), 12%, 15%);
	--text-color: hsl(var(--hue-color), 12%, 35%);
	--text-color-light: hsl(var(--hue-color), 12%, 65%);
	--white-color: #fff;
	--body-color: hsl(var(--hue-color), 100%, 99%);
	--container-color: #fff;

	/*========== Font and typography ==========*/
	--body-font: 'Lato', sans-serif;
	--pricing-font: 'Rubik', sans-serif;
	--biggest-font-size: 1rem;
	--normal-font-size: 0.938rem;
	--h2-font-size: 1.25rem;
	--small-font-size: 0.813rem;
	--smaller-font-size: 0.75rem;
	--tiny-font-size: 0.625rem;

	/*========== Margenes Bottom ==========*/
	--mb-0-25: 0.25rem;
	--mb-0-5: 0.5rem;
	--mb-1: 1rem;
	--mb-1-25: 1.25rem;
	--mb-1-5: 1.5rem;
	--mb-2: 2rem;
}

@media screen and (min-width: 968px) {
	:root {
		--biggest-font-size: 2.125rem;
		--h2-font-size: 1.5rem;
		--normal-font-size: 1rem;
		--small-font-size: 0.875rem;
		--smaller-font-size: 0.813rem;
		--tiny-font-size: 0.688rem;
	}
}

/*==================== BASE ====================*/
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

ul {
	list-style: none;
}

img {
	max-width: 100%;
	height: auto;
}

/*==================== REUSABLE CSS CLASSES ====================*/
.container {
	max-width: 1024px;
	// margin-left: var(--mb-1-5);
	margin-right: var(--mb-1-5);

	.card__container {
		gap: 3rem 1.25rem;

		.card__content {
			position: relative;
			background-color: var(--container-color);
			padding: 2rem 0.5rem 0.5rem;
			border-radius: 1.75rem;
			box-shadow: 0 12px 24px hsla(var(--hue-color), 61%, 16%, 0.1);
			transition: 0.4s;
			// width: 30%;

			.card__pricing {
				position: absolute;
				background: linear-gradient(
					157deg,
					var(--first-color-light) -12%,
					var(--first-color) 109%
				);
				width: 60px;
				height: 88px;
				right: 1.5rem;
				top: -1rem;
				padding-top: 1.25rem;
				text-align: center;

				.card__pricing-number {
					font-family: var(--pricing-font);

					.card__pricing-symbol {
						font-size: var(--smaller-font-size);
					}
				}
				.card__pricing-month {
					display: block;
					font-size: var(--tiny-font-size);
				}
			}
		}
	}
	.grid {
		display: grid;
	}
}
//button-tab
.tab-container {
	padding: 1rem;
	display: flex;
	justify-content: center;

	.opacity {
		opacity: 0.5;
	}
}
.btn-tablink {
	padding: 15px 25px;
	font-size: 24px;
	text-align: center;
	cursor: pointer;
	outline: none;
	color: #fff;
	background-color: #5658dd;
	border: none;
	border-radius: 15px;
	margin-right: 20px;
}

/*==================== CARD PRICING ====================*/
.offer-card {
	padding: 3rem 0;
}

// .card__container {
// 	gap: 3rem 1.25rem;
// }

.card__content:hover {
	box-shadow: 0 16px 24px hsla(var(--hue-color), 61%, 16%, 0.15);
}

.card__header-img {
	width: 30px;
	height: 30px;
}

.card__header-circle {
	width: 40px;
	height: 40px;
	background-color: var(--first-color-lighter);
	border-radius: 50%;
	margin-bottom: var(--mb-1);
	place-items: center;
}

.card__header-subtitle {
	display: block;
	font-size: var(--smaller-font-size);
	color: var(--text-color-light);
	text-transform: uppercase;
	margin-bottom: var(--mb-0-25);
}

.card__header-title {
	font-size: var(--biggest-font-size);
	color: var(--title-color);
	margin-bottom: var(--mb-1);
}

.card__pricing-symbol {
	font-size: var(--smaller-font-size);
}

.card__pricing-number {
	font-size: var(--h2-font-size);
}

.card__pricing-number,
.card__pricing-month {
	color: var(--white-color);
}

.card__pricing::after,
.card__pricing::before {
	content: '';
	position: absolute;
}

.card__pricing::after {
	width: 100%;
	height: 14px;
	background-color: var(--white-color);
	left: 0;
	bottom: 0;
	clip-path: polygon(0 100%, 50% 0, 100% 100%);
}

.card__pricing::before {
	width: 14px;
	height: 16px;
	background-color: var(--first-color-alt);
	top: 0;
	left: -14px;
	clip-path: polygon(0 100%, 100% 0, 100% 100%);
}

.card__list {
	row-gap: 0.5rem;
	margin-bottom: var(--mb-2);
}

.card__list-item {
	display: flex;
	align-items: center;
}

.card__list-icon {
	font-size: 1.5rem;
	color: var(--first-color);
	margin-right: var(--mb-0-5);
}

.card__button {
	padding: 1.25rem;
	border: none;
	font-size: var(--normal-font-size);
	border-radius: 0.5rem;
	background: linear-gradient(157deg, var(--first-color-light) -12%, var(--first-color) 109%);
	color: var(--white-color);
	cursor: pointer;
	transition: 0.4s;
}

.card__button:hover {
	box-shadow: 0 12px 24px hsla(var(--hue-color), 97%, 54%, 0.2);
}

/*==================== MEDIA QUERIES ====================*/
/* For small devices */
@media screen and (max-width: 320px) {
	.container {
		// margin-left: var(--mb-1);
		margin-right: var(--mb-1);
	}
	.card__content {
		padding: 2rem 1.25rem;
		border-radius: 1rem;
	}
}

/* For medium devices */
@media screen and (min-width: 568px) {
	.card__container {
		grid-template-columns: repeat(2, 1fr);
	}
	.card__content {
		grid-template-rows: repeat(2, max-content);
	}
	.card__button {
		align-self: flex-end;
	}
}

/* For large devices */
@media screen and (min-width: 968px) {
	.container {
		margin-left: auto;
		margin-right: auto;
	}
	.card {
		// height: 100vh;
		align-items: center;
	}
	.card__container {
		grid-template-columns: repeat(3, 1fr);
	}
	.card__header-circle {
		margin-bottom: var(--mb-1-25);
	}
	.card__header-subtitle {
		font-size: var(--small-font-size);
	}
}

//button-tab

.tab-container {
	padding: 1rem;
}
