/*--------------------------------------------------------------
# Illustrations
--------------------------------------------------------------*/
@import 'illustrations/illustrations';

/*--------------------------------------------------------------
# Fonts
--------------------------------------------------------------*/
@import 'base/fonts';

/*--------------------------------------------------------------
# Scroll reveal
--------------------------------------------------------------*/
@import 'base/scroll-reveal';

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/
@import 'base/base';

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
@import 'base/typography';

/*--------------------------------------------------------------
# Containers
--------------------------------------------------------------*/
@import 'elements/containers';

/*--------------------------------------------------------------
# Buttons
--------------------------------------------------------------*/
@import 'elements/buttons';

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
@import 'elements/forms';

/*--------------------------------------------------------------
# Hamburger
--------------------------------------------------------------*/
@import 'elements/hamburger';

/*--------------------------------------------------------------
# Modal
--------------------------------------------------------------*/
@import 'elements/modal';

/*--------------------------------------------------------------
# Split pattern
--------------------------------------------------------------*/
@import 'patterns/split';

/*--------------------------------------------------------------
# Tiles pattern
--------------------------------------------------------------*/
@import 'patterns/tiles';

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
@import 'layout/header';

/*--------------------------------------------------------------
# Site content
--------------------------------------------------------------*/
@import 'layout/main';

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
@import 'layout/footer';

/*--------------------------------------------------------------
# Section
--------------------------------------------------------------*/
@import 'sections/section';

/*--------------------------------------------------------------
# Hero
--------------------------------------------------------------*/
@import 'sections/hero';

/*--------------------------------------------------------------
# Features split
--------------------------------------------------------------*/
@import 'sections/features-split';

/*--------------------------------------------------------------
# Features tiles
--------------------------------------------------------------*/
@import 'sections/features-tiles';

/*--------------------------------------------------------------
# Testimonial
--------------------------------------------------------------*/
@import 'sections/testimonial';

/*--------------------------------------------------------------
# Call to action
--------------------------------------------------------------*/
@import 'sections/cta';

.phone-btn {
	background-color: #1cb68b;
	color: black !important;
	border-radius: 13px;
	padding: 0 6px !important;
}

// cards
.cards {
	display: flex;
	// flex-wrap: wrap;

	.card {
		background: white;
		border-radius: 1rem;
		padding: 3rem;
		margin-left: -1rem;
		box-shadow: 4px 4px 15px 2px rgba(black, 0.75);
		transition: 0.2s;
		display: grid;
		place-items: center;
		&:hover {
			~ .card {
				transform: translateX(4rem);
			}

			transform: translateY(-1rem);
		}
		.partner-img {
			width: 140px;
			height: 130px;
		}
	}
	overflow-x: auto;
}

/* Slideshow */
.slideshow {
	margin: 0 auto;
	overflow: hidden;
	max-width: 500px;

	.slideshowSlider {
		white-space: nowrap;
		transition: ease 1000ms;

		.slide {
			display: inline-block;
			height: 400px;
			width: 100%;
			border-radius: 40px;
		}
	}
}

/* Buttons */
.slideshowDots {
	text-align: center;
}
.slideshowDot {
	display: inline-block;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	cursor: pointer;
	margin: 15px 7px 0px;
	background-color: #c4c4c4;
}

.text-center {
	display: grid;
	place-items: center;
	font-weight: 600;
}

.service-cards {
	display: flex;

	.service-card {
		margin-top: 1rem;
		background: white;
		border-radius: 1rem;
		box-shadow: 4px 4px 15px 2px rgba(black, 0.75);
		display: grid;
		place-items: center;
		width: 40%;
		margin-left: 5%;

		.service-img {
			width: 80px;
			height: 80px;
		}

		h6 {
			color: black;
			font-weight: 400;
		}
	}
}

.flex-row {
	flex-direction: row;
}
.flex-col {
	flex-direction: column;
}

.mobile-card {
	width: 100% !important;
}

.flex-wrap {
	flex-wrap: wrap;
}

// slideshow

.numbertext {
	float: right;
	font-weight: 600;
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
}

#caption {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
	text-align: center;
	color: #ccc;
	padding: 10px 0;
	height: 150px;
}

.modal-content,
#caption {
	-webkit-animation-name: zoom;
	-webkit-animation-duration: 0.6s;
	animation-name: zoom;
	animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
	from {
		-webkit-transform: scale(0);
	}
	to {
		-webkit-transform: scale(1);
	}
}

@keyframes zoom {
	from {
		transform: scale(0);
	}
	to {
		transform: scale(1);
	}
}

.close {
	position: absolute;
	top: 15px;
	right: 35px;
	color: #f1f1f1;
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s;
}

.close:hover,
.close:focus {
	color: #bbb;
	text-decoration: none;
	cursor: pointer;
}

.mySlides {
	width: 100%;
	margin: 0 auto;
	display: none;
}

.mySlides-service {
	width: 100%;
	margin: 0 auto;
	display: none;
}

.mySlides.one {
	display: block;
}

.mySlides.one-service {
	display: block;
}
.mySlides img {
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
	filter: grayscale(100%);
	cursor: pointer;
}

.mySlides img:hover {
	-webkit-filter: grayscale(0); /* Safari 6.0 - 9.0 */
	filter: grayscale(0);
	transition: 1.2s ease-in-out;
}

.next,
.prev {
	position: absolute;
	font-size: 50px;
	color: white;
	top: 45%;
	cursor: pointer;
}

.next {
	right: 15rem;
}
.prev {
	left: 15rem;
}

.numbertext {
	color: white;
	font-size: 25px;
}

@media only screen and (max-width: 1024px) {
	.mySlides {
		width: 100%;
	}
	.numbertext {
		font-size: 40px;
	}
	.next,
	.prev {
		font-size: 100px;
	}
	.prev {
		left: 0;
	}
	.next {
		right: 0;
	}
}

@media only screen and (max-width: 768px) {
	.mySlides img {
		-webkit-filter: grayscale(0);
		filter: grayscale(0);
		cursor: pointer;
	}
	.numbertext {
		font-size: 20px;
	}
	.next,
	.prev {
		font-size: 40px;
		top: 48%;
	}
	.modal-content {
		width: 100%;
	}
}

.active {
	background-color: #5658dd;
}
.text-left {
	text-align: left;
}
